base-blue = #09f

body
   background-color: #000
   color: base-blue

.main-title
   cursor: pointer
   &:hover
      text-decoration: underline

.data-table
   display: flex
   &-row
      display: grid
      grid-gap: 10px
      grid-template-rows: 80px 200px
      margin: 10px
      padding: 10px
      border: 1px solid base-blue

.add-button
   cursor: pointer
   background-color: #000
   color: base-blue
   border: 2px solid base-blue
   padding: 5px
   &:hover {
      background-color: #051648;
   }