base-blue = #09f

body
   background-color: #000
   color: base-blue

.main-title
   color: base-blue
   cursor: pointer
   text-decoration: none
   &:hover
      text-decoration: underline

.topMenu-item
   margin-right: 10px;
   padding: 5px
   color: base-blue
   background-color: #000
   border: 2px solid base-blue
   cursor: pointer
   text-decoration: none
   &:hover
      background-color: #051648

.data-table
   display: flex
   flex-wrap: wrap
   justify-content: flex-start

   &-row
      display: grid
      grid-gap: 10px
      grid-template-rows: 80px 200px
      flex: 1 0 150px
      margin: 10px
      padding: 10px
      border: 1px solid base-blue

.button
   margin-right: 10px;
   padding: 5px
   color: base-blue
   background-color: #000
   border: 2px solid base-blue
   cursor: pointer
   text-decoration: none
   &:hover
      background-color: #051648

.addTask-form 
   margin-top: 10px
   display: flex
   flex-direction: column
   width: 300px
   input, textarea, button 
      margin: 5px 0
      color: base-blue
      background-color: #000
      border: 2px solid base-blue

   textarea
      height: 300px;
      flex-grow: 1;
            
   button 
      cursor: pointer
      &:hover
         background-color: #051648;