base-blue = #09f

body
   background-color: #000
   color: base-blue

.main-title
   cursor: pointer
   &:hover
      text-decoration: underline

.data-table
   display: flex
   &-row
      display: grid
      grid-gap: 10px
      grid-template-rows: 80px 200px
      margin: 10px
      padding: 10px
      border: 1px solid base-blue

.add-button
   cursor: pointer
   background-color: #000
   color: base-blue
   border: 2px solid base-blue
   padding: 5px
   &:hover
      background-color: #051648;
   
.addTask-form 
   width: 300px
   display: flex
   flex-direction: column
   input, textarea, button 
      margin: 5px 0
      color: base-blue
      background-color: #000
      border: 2px solid base-blue

   textarea
      height: 300px;
      flex-grow: 1;
            
   button 
      cursor: pointer
      &:hover
         background-color: #051648;
